/* Global rule */
@import url("https://fonts.cdnfonts.com/css/hand-drawn-shapes");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* End Global rule */

body {
  font-family: "Hand Drawn Shapes", sans-serif;
  background-color: #f0f8ff;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

main {
  background-image: linear-gradient(to right, #0000ff 1px, transparent 1px),
    linear-gradient(to bottom, #0000ff 1px, transparent 1px);
  background-size: 34px 34px;
  text-align: center;
  width: calc(100% - 40px);
  max-height: calc(100% - 40px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  font-size: 2em;
  color: #00008b;
  margin-bottom: 20px;
}

#game-container {
  display: flex;
  justify-content: space-around;
  margin: 1em auto;
  flex: 1;
}

.board {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  margin: 20px;
  background-color: #87cefa;
  border: 2px solid #4682b4;
  width: 345px;
  height: 345px;
  background-image: linear-gradient(
      0deg,
      transparent 24%,
      rgba(0, 0, 255, 0.1) 25%,
      rgba(0, 0, 255, 0.1) 26%,
      transparent 27%,
      transparent 74%,
      rgba(0, 0, 255, 0.1) 75%,
      rgba(0, 0, 255, 0.1) 76%,
      transparent 77%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 24%,
      rgba(0, 0, 255, 0.1) 25%,
      rgba(0, 0, 255, 0.1) 26%,
      transparent 27%,
      transparent 74%,
      rgba(0, 0, 255, 0.1) 75%,
      rgba(0, 0, 255, 0.1) 76%,
      transparent 77%,
      transparent
    );
  background-size: 30px 30px;
}

.row {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.cell {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid #4682b4;
}

.cell.ship {
  background-color: #6495ed;
}

.cell.hide {
  background-color: rgb(198, 203, 205);
}

.cell.hit {
  background-color: red;
}

.cell.miss {
  background-color: gray;
}

.cell:hover {
  cursor: pointer;
  background-color: rgba(255, 0, 0, 0.2);
}

.cell.marked {
  background-color: #64ed8f;
}

button {
  outline: none;
  box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, 0.2);
  border-radius: 255px 21px 225px 31px/74px 225px 90px 255px;
  border: solid 7px #4682b4;
  padding: 0.5em 2em;
  background-color: #6495ed33;
  color: black;
  font-family: "Hand Drawn Shapes", sans-serif;
  cursor: pointer;
  font-weight: bold;
  margin: 0.5em;
}

.music {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

audio {
  display: none;
}
