/* Global rule */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

/* Add some styles just for dispaying cells */
#game-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.board {
  display: grid;
  grid-template-rows: repeat(10, 30px);
  gap: 2px;
  border: 1px solid #000;
}

.row {
  display: grid;
  grid-template-columns: repeat(10, 30px);
  gap: 2px;
}

.cell {
  width: 30px;
  height: 30px;
  background-color: lightblue;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}

.cell.hide {
  background-color: rgb(198, 203, 205);
}
.cell.hit {
  background-color: red;
}

.cell.miss {
  background-color: gray;
}

.cell.ship {
  background-color: rgb(61, 43, 193);
}
