/* Global rule */
@import url("https://fonts.cdnfonts.com/css/hand-drawn-shapes");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  pointer-events: none;
  transition: opacity 0.3s ease;
}
/* End Global rule */
body {
  font-family: "Hand Drawn Shapes", sans-serif;
  background-image: url("./images/natural-wood-texture-brown-surface-wooden-table_84485-547.png");
  background-size: contain;
  overflow-y: hidden;
  background-color: #2569a5;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #00008b;
}

pre {
  font-family: "Hand Drawn Shapes", sans-serif;
}

main {
  background-image: url("./images/grid.png");
  background-repeat: repeat;
  background-color: #f0f8ff;
  text-align: center;
  width: 1100px;
  height: 650px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 1em;
  padding-left: 29px;
}

h1 {
  font-size: 2em;
  color: #00008b;
  margin-bottom: 20px;
  min-width: 750px;
}

h2 {
  display: inline-block;
  margin-right: 0.5rem;
}

#game-container {
  display: flex;
  gap: 24px;
  margin: 1em auto;
  flex-direction: row;
}

.board {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  margin-top: 36px;
  width: 340px;
  height: 340px;
  background-image: url("./images/field.png");
  background-repeat: no-repeat;
  background-size: contain;
  padding: 5px;
  position: relative;
  z-index: 500;
}

.row {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

/* .cell { */
/* border: 1px solid #d0dfe2; */
/* background-color: #EFF8FF; */
/* } */

.cell.hide {
  background-color: rgb(198, 203, 205);
}

.cell.hit {
  background-image: url("./images/sprite.png");
  background-repeat: no-repeat;
  background-position: -410px -50px;
}

.cell.miss {
  background-image: url("./images/sprite.png");
  background-repeat: no-repeat;
  background-position: -410px 0;
}

.cell:hover {
  cursor: pointer;
  background-color: rgba(255, 0, 0, 0.2);
}

.cell.marked {
  background-image: url("./images/sprite.png");
  background-repeat: no-repeat;
  background-position: -410px -100px;
}

button {
  display: inline-block;
  outline: none;
  box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, 0.2);
  border-radius: 255px 21px 225px 31px / 74px 225px 90px 255px;
  border: solid 5px #4682b4;
  padding: 0px 2em;
  background-color: #6495ed33;
  color: black;
  font-family: "Hand Drawn Shapes", sans-serif;
  cursor: pointer;
  font-weight: bold;
}

.music {
  display: flex;
  justify-content: right;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.sounds {
  display: flex;
  justify-content: right;
  gap: 0.5rem;
}

.ship.visible {
  background-color: #6495ed;
}

.ship-bordered {
  position: absolute;
  height: 35px;
  background-image: url("./images/sprite.png");
  background-repeat: no-repeat;
  display: flex;
  z-index: -1;
}

.vertical {
  transform: rotate(90deg);
  transform-origin: 17.5px 17.5px;
}

/* List of enemy ships */

.ships-list {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 63px;
  width: 30%;
}

.ships-list-item {
  position: relative;
  display: flex;
  gap: 32px;
}

.ship-icon {
  height: 35px;
  background-image: url("./images/sprite.png");
  background-repeat: no-repeat;
  display: flex;
}

.fourdeck {
  width: 140px;
  background-position: 0 0;
}

.tripledeck {
  width: 101px;
  background-position: -150px 0;
}

.doubledeck {
  width: 68px;
  background-position: -270px 0;
}

.singledeck {
  width: 35px;
  background-position: -360px 0;
}

.icon-field {
  width: 33px;
  height: 33px;
  display: block;
  z-index: 5;
}

.red-cross {
  background-image: url("./images/sprite.png");
  background-repeat: no-repeat;
  background-position: -410px -50px;
}

.hidden {
  display: none;
}

#modalWindow,
#modalRulesContainer {
  display: none;
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #ffffff;
  margin: 15% auto;
  padding: 20px;
  width: 80%;
  z-index: 2000;
  border-radius: 7px;
  box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2),
    0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
}

#modalRules {
  z-index: 5000;
  background-color: #ffffff;
  margin: 15% auto;
  padding: 20px;
  width: 80%;
  border-radius: 7px;
  text-align: left;
  box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2),
    0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
}

#rules {
  /* z-index: 9000; */
  position: fixed;
  right: 200px;
  background-color: transparent;
  border: 0;
}

/* Nav menu */
nav {
  position: absolute;
}

.burger {
  font-size: 30px;
  cursor: pointer;
  /* background-color: #dac0a3; */
  color: #ffffff;
  position: absolute;
  z-index: 1000;
  height: 50px;
  width: 50px;
}

.menu {
  display: none;
  background-color: #f3f3f3;
  padding: 20px;
  position: absolute;
  z-index: 999;
  width: 400px;
  height: 500px;
  transform-origin: top right;
  animation: openMenu 0.5s forwards;
  transform-style: preserve-3d;
  transform: skew(-15deg) perspective(1000px) rotateY(-45deg);
  box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.1);
}

.menu.show-menu {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  z-index: 999;
  width: 400px;
  height: 500px;
  background-image: url(./images/grid.png);
  background-repeat: repeat;
  background-color: #f0f8ff;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 1em;
  transform-origin: top right;
  transform-style: preserve-3d;
  box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.1);
  animation: openMenu 0.5s forwards;
}

@keyframes openMenu {
  from {
    transform: skew(-15deg) perspective(1000px) rotateY(-90deg);
  }
  to {
    transform: skew(0deg) perspective(1000px) rotateY(0deg);
  }
}
.board.enemy-board .cell:hover {
  cursor: url("images/Cursor.png") 10 10, auto;
}

section {
  position: relative;
}

.number-row {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  justify-content: center;
  align-items: flex-end;
  width: 330px;
  height: 33px;
  left: 0px;
  bottom: 340px;
  font-size: 18px ;
  font-style: italic;
}

.letter-row {
  position: absolute;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  justify-content: flex-end;
  align-items: center;
  width: 33px;
  height: 330px;
  left: -38px;
  bottom: 5px;
  font-size: 18px ;
  font-style: italic;
}