/* Global rule */
@import url("https://fonts.cdnfonts.com/css/hand-drawn-shapes");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
/* End Global rule */
body {
  font-family: "Hand Drawn Shapes", sans-serif;

  overflow-y: hidden;
  background-color: #f0f8ff;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  background-image: linear-gradient(to right, #0000ff 1px, transparent 1px),
    linear-gradient(to bottom, #0000ff 1px, transparent 1px);
  background-size: 30px 30px;
  text-align: center;
  width: calc(100% - 80px);
  height: 100vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 3em;
}

h1 {
  font-size: 2em;
  color: #00008b;
  margin-bottom: 20px;
  min-width: 750px;
}

#game-container {
  display: flex;
  justify-content: space-around;
  margin: 1em auto;
}

.board {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  margin-top: 10px;
  background-color: #87cefa;
  border-radius: 255px 3px 225px 3px / 0px 225px 3px 255px;
  border: solid 3px #1e51afc9;
  width: 300px;
  height: 300px;
  background-image: linear-gradient(
      0deg,
      transparent 24%,
      rgba(0, 0, 255, 0.1) 25%,
      rgba(0, 0, 255, 0.1) 26%,
      transparent 27%,
      transparent 74%,
      rgba(0, 0, 255, 0.1) 75%,
      rgba(0, 0, 255, 0.1) 76%,
      transparent 77%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 24%,
      rgba(0, 0, 255, 0.1) 25%,
      rgba(0, 0, 255, 0.1) 26%,
      transparent 27%,
      transparent 74%,
      rgba(0, 0, 255, 0.1) 75%,
      rgba(0, 0, 255, 0.1) 76%,
      transparent 77%,
      transparent
    );
  background-size: 30px 30px;
  background-color: #fff;
}

.row {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.cell {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid #4682b4;
}
.cell.ship {
  background-color: #6495ed;
}

.cell.hide {
  background-color: rgb(198, 203, 205);
}
.cell.hit { 
  background-color: red;
  /* position: absolute;
  width: 30px;
  height: 30px;
   animation: fire-glow 0.5s infinite alternate-reverse; */

 
}

/* @keyframes fire-glow {
  0% { opacity: 0; }
  100% { opacity: 1; }
} */
.cell.miss {
  background-color: gray;
}

.cell:hover {
  cursor: pointer;
  background-color: rgba(255, 0, 0, 0.2);
}

.cell.marked {
  background-color: #64ed8f;
}
button {
  outline: none;
  box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, 0.2);
  border-radius: 255px 21px 225px 31px / 74px 225px 90px 255px;
  border: solid 5px #4682b4;
  padding: 0px 2em;
  background-color: #6495ed33;
  color: black;
  font-family: "Hand Drawn Shapes", sans-serif;
  cursor: pointer;
  font-weight: bold;
}
.music {
  display: flex;
  justify-content: right;
  gap: 0.5rem;
}

.ship {
  width: 30px;
  height: 30px;
  background-color: #6495ed;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}


/* List of enemy ships */

.ships-list {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.ships-list-item {
  position: relative;
  top: 15px;
  left: 25px;
  display: flex;
  gap: 35px;
}

.ship-icon {
  height: 35px;
  background: url("./images/sprite.png") no-repeat;
  display: flex;
}

.fourdeck {
  width: 134px;
  background-position: 0 0;
}

.tripledeck {
  width: 101px;
  background-position: -150px 0;
}

.doubledeck {
  width: 68px;
  background-position: -270px 0;
}

.singledeck {
  width: 35px;
  background-position: -360px 0;
}

.icon-field {
  width: 33px;
  height: 33px;
  display: block;
  /* position: absolute; */
  z-index: 5;
}

.red-cross {
  background: url("./images/sprite.png") no-repeat;
  background-position: -410px -50px;
}


/* List of enemy ships */

.ships-list {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.ships-list-item {
  position: relative;
  top: 15px;
  left: 25px;
  display: flex;
  gap: 35px;
}

.ship-icon {
  height: 35px;
  background: url("./images/sprite.png") no-repeat;
  display: flex;
}

.fourdeck {
  width: 134px;
  background-position: 0 0;
}

.tripledeck {
  width: 101px;
  background-position: -150px 0;
}

.doubledeck {
  width: 68px;
  background-position: -270px 0;
}

.singledeck {
  width: 35px;
  background-position: -360px 0;
}

.icon-field {
  width: 33px;
  height: 33px;
  display: block;
  /* position: absolute; */
  z-index: 5;
}

.red-cross {
  background: url("./images/sprite.png") no-repeat;
  background-position: -410px -50px;
}
