/* Global rule */
@import url("https://fonts.cdnfonts.com/css/hand-drawn-shapes");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
/* End Global rule */
body {
  font-family: "Hand Drawn Shapes", sans-serif;
  background-image: url("./images/natural-wood-texture-brown-surface-wooden-table_84485-547.png");
  background-size: contain;
  overflow-y: hidden;
  background-color: #2569a5;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  background-image: url("./images/grid.png");
  background-repeat: repeat;
  background-color: #f0f8ff;
  text-align: center;
  width: 1100px;
  height: 650px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 1em;
  padding-left: 29px;
}

h1 {
  font-size: 2em;
  color: #00008b;
  margin-bottom: 20px;
  min-width: 750px;
}

#game-container {
  display: flex;
  /* justify-content: space-between; */
  gap: 24px;
  margin: 1em auto;
  flex-direction: row;
}

.board {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  margin-top: 40px;
  width: 340px;
  height: 340px;
  background-image: url("./images/field.png");
  background-repeat: no-repeat;
  background-size: contain;
  padding: 5px;
  position: relative;
  z-index: 500;
}

.row {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

/* .cell { */
  /* border: 1px solid #d0dfe2; */
  /* background-color: #EFF8FF; */
/* } */

.cell.hide {
  background-color: rgb(198, 203, 205);
}

.cell.hit {
  background-image: url("./images/sprite.png");
  background-repeat: no-repeat;
  background-position: -410px -50px;
}

.cell.miss {
  background-image: url("./images/sprite.png");
  background-repeat: no-repeat;
  background-position: -410px 0;
}

.cell:hover {
  cursor: pointer;
  background-color: rgba(255, 0, 0, 0.2);
}

.cell.marked {
  background-image: url("./images/sprite.png");
  background-repeat: no-repeat;
  background-position: -410px -100px;
}

button {
  display: inline-block;
  outline: none;
  box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, 0.2);
  border-radius: 255px 21px 225px 31px / 74px 225px 90px 255px;
  border: solid 5px #4682b4;
  padding: 0px 2em;
  background-color: #6495ed33;
  color: black;
  font-family: "Hand Drawn Shapes", sans-serif;
  cursor: pointer;
  font-weight: bold;
}

.music {
  display: flex;
  justify-content: right;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.sounds {
  display: flex;
  justify-content: right;
  gap: 0.5rem;
}

.ship.visible{
  background-color: #6495ed;
}

.ship-bordered {
  position: absolute;
  height: 35px;
  background-image: url("./images/sprite.png");
  background-repeat: no-repeat;
  display: flex;
  z-index: -1;
}

.vertical {
  transform: rotate(90deg);
  transform-origin: 17.5px 17.5px;
}

/* List of enemy ships */

.ships-list {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 76px;
  width: 30%;
}

.ships-list-item {
  position: relative;
  top: 15px;
  display: flex;
  gap: 32px;
}

.ship-icon {
  height: 35px;
  background-image: url("./images/sprite.png");
  background-repeat: no-repeat;
  display: flex;
}

.fourdeck {
  width: 140px;
  background-position: 0 0;
}

.tripledeck {
  width: 101px;
  background-position: -150px 0;
}

.doubledeck {
  width: 68px;
  background-position: -270px 0;
}

.singledeck {
  width: 35px;
  background-position: -360px 0;
}

.icon-field {
  width: 33px;
  height: 33px;
  display: block;
  z-index: 5;
}

.red-cross {
  background-image: url("./images/sprite.png");
  background-repeat: no-repeat;
  background-position: -410px -50px;
}

.hidden {
  display: none;
}

#modalWindow {
  display: none;
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #ffffff;
  margin: 15% auto;
  padding: 20px;
  width: 80%;
}


/* Nav menu */
nav {
  position: absolute;
}

.burger {
  font-size: 30px;
  cursor: pointer;
  background-color: #686b6ecc;
  color: #ffffff;
  position: absolute;
  z-index: 1000;
  height: 50px;
  width: 50px;
}

.menu {
  display: none;
  background-color: #686b6ecc;
  padding: 10px;
  position: absolute;
  z-index: 999;
  width: 400px;
  height: 500px;
}